
body{
  float: none;
  width: 80%;
  margin: auto;
}

.set{
  display: none;
  margin: auto;
  padding: 10px;
}

#id_select{
  padding: 10px;
}

.container{
  text-align: center;
}

.container, table, tr, th{
  text-align: center;
}

#table, table, tr, th{
  text-align: left;
}

.button{
  margin: 10px;
  padding: 10px 20px 10px 20px;
}

#id_table{
  margin-top: 20px;
}

/*toast message*/
#id_snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #BDBDBD;/*#333;*/
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#id_snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
